<ion-header [translucent]="true" style="background-color: aquamarine;">
  <ion-toolbar>
    <ion-title class="title">
      Weather App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <ion-card slot="fixed" color="warning" class="card">
    <ion-card-header>
      <ion-card-title><img src="https://cdn-icons-png.flaticon.com/512/777/777198.png"></ion-card-title>
    </ion-card-header>

    <ion-button (click)="login()">Login</ion-button>
    <ion-button (click)="signUp()">Signup</ion-button>
  </ion-card>


</ion-content>
