.title {
  color: rgb(29, 197, 158);
  font-weight: bolder;
  text-align: center;
}

.body {
  color: white;
  background: rgb(19, 182, 147);
  font-weight: bolder;
}

.card {
  width:80%;
  text-align: center;
  margin-left: 12%;
  margin-top: 30%;
}

