<ion-header [translucent]="true" style="background-color: aquamarine;">
  <ion-toolbar>
    <ion-title style="text-align: center; color: rgb(15, 181, 125); font-weight: bolder;">
      User DashBoard
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button style="width: 40px; height: 40px;" id="main-content" style="color: black; width: 40px; height: 40px;"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-icon name="caret-back-outline" routerLink="" style="width: 30px; height: 30px; color: purple;"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- side menu -->
        <ion-menu [type]="menuType" content-id="main-content">
          <ion-header>
            <ion-menu-toggle>
              <p style="font-weight: bolder; color: rgb(241, 174, 67);"><ion-icon name="close-circle-outline" style="width: 40px; height: 40px; margin-left: 43%;"></ion-icon></p>
            </ion-menu-toggle>
          </ion-header>
          <ion-content class="ion-padding">
            <h1 style="font-weight: bolder" id="trigger-button"><ion-icon name="person-circle-outline"></ion-icon>My Profile</h1>
            <ion-popover trigger="trigger-button">
              <ng-template>
                <ion-content class="ion-padding">
                  User Name -> {{userName}}<br>
                  User email -> {{useremail}}
                </ion-content>
              </ng-template>
            </ion-popover>

            <h1 style="font-weight: bolder; color: red" (click)="logout()"><ion-icon name="home-outline"></ion-icon> Logout</h1>
          </ion-content>
        </ion-menu>

        <ion-list style="margin-top: 30%; color: rgb(192, 93, 235); font-weight: bolder;">
          <ion-item>
            <ion-select aria-label="City" placeholder="Select Your City" (ionChange)="getOptionValue($event)">
              <ion-select-option value="Pune">Pune Region</ion-select-option>
              <ion-select-option value="Mumbai">Mumbai Region</ion-select-option>
              <ion-select-option value="Nagpur">Nagpur Region</ion-select-option>
              <ion-select-option value="Chandrapur">Chandrapur Region</ion-select-option>
            </ion-select>
          </ion-item>
      </ion-list>
  </ion-content>


