<ion-header [translucent]="true" style="background-color: aquamarine;">
  <ion-toolbar>
    <ion-title style="text-align: center; color: rgb(15, 181, 125); font-weight: bolder;">
      Weather App - Login Page
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <form [formGroup]="myForm" class="form">

    <!-- Email and Validation -->
    <ion-item>
      <ion-input type="email" formControlName="email" placeholder="Enter email"></ion-input>
    </ion-item>

    <ion-item *ngIf="myForm.controls['email'].invalid && (myForm.controls['email'].dirty || myForm.controls['email'].touched)">
      <ion-label color="danger" position="stacked">Email is invalid</ion-label>
    </ion-item>

    <br><br>

    <!-- Password and Validation -->
    <ion-item>
      <ion-input type="password" formControlName="password" placeholder="Enter Password"></ion-input>
    </ion-item>

    <ion-item *ngIf="myForm.controls['password'].invalid && (myForm.controls['password'].dirty || myForm.controls['password'].touched)">
      <ion-label color="danger" position="stacked">Password is required</ion-label>
    </ion-item>

    <br>

    <button (click)="login(myForm.value)">Login</button>

  </form>

</ion-content>
